
{% extends 'base.html.twig' %}


{% block hero %}
<h1> Liste des étudiantssss</h1>
<tr> 

<td> Recherche par </td>
<td> NSC</td>
<td>

<form method="get" action="{{ path('searchStudent') }}">

      
          <input type="text" name ="search">
          <button type="submit"> Recherche</button>
      
      </form>
      </td>

</tr>

<tr>
<table border ="1">

   <th scope="row">ID</th>
    <th scope="row">Classroom</th>
    <th scope="row">NSC</th>
    <th scope="row">Email</th>
     <th scope="row">Editer</th>
</tr>
    {% for student in students %}
<tr>
   <td>

{{student.id }}

   </td>
   <td>

{{ student.classroom.name }}

   </td>
   <td>

{{ student.nsc }}

   </td>
   <td>

{{ student.email }}

   </td>
<td>

<a href="{{ path('updateStudent', {'id': student.id}) }}"> modifier</a>

<a href="{{ path('deleteStudent', {'id': student.id}) }}"> supprimer</a>

   </td>

   
</tr>
{% endfor %}

</table>
<div style="margin-left:50px;"><a href="{{ path('addStudent') }}"> Ajouter Etudiant</a></div>

                </div>

  {% endblock %}