

{% extends 'base.html.twig' %}


{% block hero %}
<h1> Liste des étudiants </h1>
<tr> 
<td> Recherche par </td>
<td> NSC </td>
<td>
<form class="pull-right hidden" role="search" id="nav-search-form" 
method="post" action="{{ path('searchStudent') }}">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name ="search">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default"> Recherche</button>
          </span>
        </div>
      </form>
      </td>

</tr>
<tr>
<table border ="1">

   <th scope="row">ID</th>
    <th scope="row">Classe</th>
    <th scope="row">NSC</th>
    <th scope="row">Email</th>
</tr>
    {% for student in students %}
<tr>
   <td>

{{ student.id }}

   </td>
   <td>

{{ student.classroom.name }}

   </td>
   <td>

{{ student.nsc }}

   </td>
   <td>

{{ student.email }}

   </td>
   
</tr>
{% endfor %}

</table>
{% endblock %}