

{% extends 'base.html.twig' %}


{% block hero %}

<h1> Liste des classes </h1>

<table border ="1" class="table table-striped table-dark">
<tr>
   <th scope="row">ID</th>
    <th scope="row">Nom</th>
     <th scope="row">Editer</th>
</tr>
    {% for classroom in classrooms %}
<tr>
   <td>

{{ classroom.id }}

   </td>
   <td>

{{ classroom.name }}

   </td>

    <td>

<a class="btn btn-primary" href="{{ path('updateClassroom', {'id': classroom.id}) }}"> modifier</a>
 
<a  class="btn btn-primary" href="{{ path('deleteClassroom', {'id': classroom.id}) }}"> supprimer</a>

<a class="btn btn-outline-danger" href="{{ path('classroomStudents', {'id': classroom.id}) }}"> afficher students</a>

   </td>
   
</tr>
{% endfor %}

</table>
<div style="margin-left:50px;">
<a href="{{ path('addClassroom') }}"> Ajouter Classe</a>
</div>
{% endblock %}